*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
html, body{
    height:100%;
    width:100%;
    
}

body {
    background-color: #e5e5e5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
   border-right: 1px solid #bbb;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

nav li.dd {
  display: inline-block;
}

.dd{
background-color: #4CAF50;
float:right;
}
.dd-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dd-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dd-content a:hover {background-color: #f1f1f1;}

.dd:hover .dd-content {
  display: block;
}
.active {
  background-color: #4CAF50;
}
.title{
    font-weight: bold;
    font-size: 2em;
    margin: 10px;
}
.text {
    margin : 10px;
    color: #333; 
    font-family: 'Muli', sans-serif; 
}
#container {
    border: 2px solid black;
    width : 80%;
    right:2%;
    margin-left: 2%;
}

.container-all-projects a{
  text-decoration: none;
}

#container a {
    text-decoration: none; 
}

#container p {
  color: black; 
}

#pagination{
    height : 50px;
    margin-right: 100px;
    float: right;
}


.container-filter{
 position:fixed;
	width:230px;
	height:250px;
	top:100px;
	right:20px;
	background-color:#4CAF50;
	color:#FFF;
    border-radius: 25px;
	text-align:center;

}
.container-comment{
  position:fixed;
   width:390px;
   height:350px;
   top:100px;
   right:20px;
   background-color:#4CAF50;
   color:#FFF;
     border-radius: 25px;
   text-align:center;
 
 }


#comment-section{
  border: 2px solid black;
  width : 80%;
  right:2%;
  margin-left: 2%;
}

#comment-single{
  border: 1px solid black;
  margin-left: 2%;
  margin-top: 1%;
  width: 75%;
}

#create-comment{
  margin-left: 2%;
  margin-top: 1%;
}

.small-text{
  margin : 10px;
  color: #333; 
  font-family: 'Muli', sans-serif; 
  font-size: 0.7em
}