{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="content-section" style="float: left; width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;">
<h2> Login </h2>

<form method="post" >
    {% csrf_token %}
    {% for field in LoginForm %}
    <p>
        {{ field.label_tag }}
        {{ field }}

        {% if field.help_text %}
            <small style="color: blue"> {{ field.help_text }}</small>
        {% endif %}

    </p>
    {% endfor %}

    {% for field in LoginForm %}
        {% for error in field.errors %}
            <p style="color:red">{{ error }}</p>
        {% endfor %}
    {% endfor %}

    {% if LoginForm.non_field_errors %}
        <div style="color:red">
            <p> {{LoginForm.non_field_errors}}</p>
        </div>
    {% endif %}

    <input type="submit"  class="btn btn-success" value="Login"/>
    <a  href="{% url 'register' %}"  style="float:right" class="btn btn-primary" > <span> Register here </span> </a>
    <a href="{% url 'password_reset' %}"> <p> Forgot Password? </p> </a>

</form>
</div>

{% endblock content %}