{% extends 'base.html' %}
{% load crispy_forms_tags %}
<style>


</style>
{% block content %}
    <div class="content-section" style="width:50%">
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                {{ message }}
                </div>
             {% endfor %}
        {% endif %}
        <div class="content-section" style="float: left; width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;">
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group" style="width:70%; display: block;
    margin-left: auto;
    margin-right: auto;">
                <legend><span class="number">1</span> Reset Password</legend>
                {{ form|crispy }}


            <div class="form-group">
                <button type="submit">Reset</button>

            </div>
                </fieldset>
        </form>
        <div>

        </div>
    </div>
    </div>
{% endblock content %}