{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class>
        Your password has been changed successfully.
    </div>
    <a href="{% url 'login' %}"> LOGIN HERE</a>
{% endblock content %}