{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<style>


    input{
    width: 100%;
    }

  button{
  width: 100%;
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    }

    #passbtn   {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #60a3bc;
padding: 2px;
border-radius: 20px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

#passbtn:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #73AD21;
  color: black;
}

.flip-card-back {
  background-color: #73AD21;
  color: white;
  transform: rotateY(180deg);
}
</style>





<div class="content-section" style="float: left; width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;">

<div class="content-section" style="width:100%">
    {% if messages %}
        {% for message in messages %}
            <div class="alert">
            {{ message }}
            </div>
         {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset class="form-group" style=" display: block;">
            <legend> Profile Info Update</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
             <a class="btn btn-primary"  href="{% url 'password_reset' %}"> <p> Change Password</p> </a>

        <div class="form-group">
            <button type="submit">Update Info</button>
        </div>

            </fieldset>

    </form>


    <div>

    </div>


</div>


</div>

<div style="float:left" class="flip-card">
<h4>Hover to view your current info.</h4>
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{{ user.profile.image.url }}" alt="" style="height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Hello, {{ user.name}}</h1>
      <p>Current Email: {{user.email}}</p>
      <p>Current Username: {{user.get_username}}</p>
      {% if user.is_admin %}
        <p>You are an Admin!</p>
        {% endif%}
    </div>
  </div>
</div>




{% endblock content %}
