{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% if user.is_user_admin %}
  <p> admin user page</p>
  <h3 class="title">All User Accounts: </h3>
  <div class="container-all-projects">
    {% for item in object_list %}
      {% if not item.is_superuser %}
      <section id="container">
      
            <p class="title"> {{ item.name }}</p>
            <p class="text">Username: {{ item.username }} </p>
            <p class="text">Email: {{ item.email }} </p>
            <p class="text">User Admin Privilege : {{ item.is_user_admin }} </p>
            <p class="text">Project Admin Privilege :  {{ item.is_project_admin }}</p>
            
            <a class="btn btn-primary stretched-link" style="width:25%; " href="{% url 'update_User' item.id %}"> Update</a>
            <a class="btn btn-primary stretched-link" style="width:25%; "href="{% url 'delete_User' item.id %}"> Delete</a>
      </section>
      {% endif %}
    {% endfor %}
  </div>


  {% if is_paginated  %}
    <section id="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      {% else %}
        <span>&laquo;</span>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <span>{{ i }} (current)</span></span>
        {% else %}
          <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      {% else %}
        <span>&raquo;</span>
      {% endif %}
    </section>
  {% endif %}

{% else %}
  <p>You are not an admin</p>
{% endif %}
{% endblock content %}


