{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% if user.is_project_admin %}
  <p> admin project page</p>
  <div class="container-all-projects">


    {% for item in object_list %}

    <div class="card" style="width:85%; ">


      {% if item.project.snapshot %}
        <img class="card-img-top" src="{{ item.project.snapshot.url }}">
      {% else %}
        <img class="card-img-top" src="https://www.elmhurst.edu/wp-content/uploads/2018/12/5-skills-project-management-degree-elmhurst-college-infographic-thumb.jpg" >
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ item.project_title }}</h5>

        <p class="card-text">Type: {{ item.project_type }} </p>
        <p class="card-text">Keywords: {{ item.keyword_list }} </p>
        <p class="text-muted">{{ item.publish_date }} <br> By: {{ item.owner.name }}</p>
        <a class="btn btn-primary stretched-link" style="float:left; width:50%; " href="{% url 'update_project' item.id %}"> Edit</a>
        <a class="btn btn-primary stretched-link" style="float:left; width:50%; " href="{% url 'delete_project' item.id %}"> Delete</a>
        </div>
    </div>
    {% endfor %}
  </div>


  {% if is_paginated  %}
    <section id="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      {% else %}
        <span>&laquo;</span>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <span>{{ i }} (current)</span></span>
        {% else %}
          <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      {% else %}
        <span>&raquo;</span>
      {% endif %}
    </section>
  {% endif %}

{% else %}
  <p>You are not an admin</p>
{% endif %}
{% endblock content %}
