{% extends 'base.html' %}
{% block content %}


<form action="." method="POST">
    {% csrf_token %}
    <h1>Do You want to delete this user : {{ object.username }}</h1>
    <p><input type="submit" value="Yes"/> <a href="{% url 'showcase' %}">Cancel</a> </p>
</form>
{% endblock content %}
