{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block header %}
    {% endblock header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link href="{% static 'css/mystyles.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    <nav id='nav-bar'>
    <ul id ="nav">
        {% if user.is_authenticated %}
        <li><a style="border:none; float:left; vertical-align:center; color: green;">Hello, {{ user.get_username}} </a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a style="border:none; float:left; vertical-align:center; color: green;">Hello, Guest </a></li>
        {% endif %}

       <li> <a href = "{% url 'showcase' %}" >View All Projects</a></li>
        <li><a href = "{% url 'create_project' %}">Create Project</a></li>




        {% if user.is_authenticated %}
        <li><a href = "{% url 'user_projects' %}">View My Projects</a></li>
        
        {% if user.is_project_admin %}
        <li><a href = "{% url 'adminProjects' %}">Edit All Projects</a></li>
          {% endif %}
        {% if user.is_user_admin %}
             <li><a href = "{% url 'adminUsers' %}">Edit All Users</a></li> 
          {% endif %}
          {% if user.is_superuser %}
          <li><a href = "{% url 'new_admin_user' %}">Create Admin Accounts</a></li> 
        {% endif %}
            <li class="dd">
                <a href="javascript:void(0)" class="dropbtn">My Account</a>
                <div class="dd-content">
                    {% if user.is_admin %}
                        <a href = "{% url 'admin:index' %}">Admin Page</a>
                    {% endif %}
                    <a href = "{% url 'profile' %}">Settings</a>
                    <a href = "{% url 'logout' %}" >Logout</a>

                </div>
            </li>
            {% endif %}


        {% if not user.is_authenticated %}
           <li style="float:right"><a class="active"  href = "{% url 'login' %}" >Login/Register</a></li>
        {% endif %}


    </ul>
    </nav>
        <div class="container">
      <div class="row justify-content-left">
        <div class="col-9" >
          <h1 class="mt-2">Projects Showcase <S></S></h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>


<footer class="page-footer font-small blue ">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      © 2020 Copyright: Obied Ullah, Sean Lieu, Petko Petkov, Adrian Yotob

  </div>
  <!-- Copyright -->

</footer>
</body>
</html>