{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
<style>

    #id_description{

    height: 100px;

    }
    input{
    width: 100%;
    }

  button{
  width: 100%;
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    }

</style>

<h1 style=" width:50%;"> Create Project</h1>
<div class="content-section" style="float: left; width: 90%;
  border: 3px solid #73AD21;
  padding: 10px;">

    {% if messages %}
        {% for message in messages %}
            <div class="alert">
            {{ message }}
            </div>
         {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset class="form-group" style="width:70%; display: block;">

            {{ form|crispy }}
        <div class="form-group">
            <button type="submit">Create Project</button>
        </div>
            </fieldset>
    </form>
    <div>

    </div>
</div>

{% else %}
<p>Please log in to create a new project</p>
{% endif %}


{% endblock content %}
