{% extends 'base.html' %}
{% block content %}


<form action="." method="POST">
    {% csrf_token %}
    <h1>Do You want to delete this post {{ object.title }}</h1>
    <p><input class = "btn btn-primary" type="submit" value="Yes"/> <a class = "btn btn-primary" href="{% url 'showcase' %}">Cancel</a> </p>
</form>
{% endblock content %}
