{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>
.checked {
  color: orange;
}
#id_comment{
    height:40px;
}
</style>


    <div class="container-comment">
      <h2>Comment</h2>
      {% if user.is_authenticated %}
      
          <form method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <div>
                  <button class = "btn btn-primary" type="submit">Comment</button>
              </div>
          </form>
     
      {%  else %}
          <p> <b> Sign In first! </b> </p>
      {% endif %}
    </div>
        

        <div class="card" style="margins: auto; width:90%; ">


            {% if project.snapshot %}
              <img class="card-img-top" style="width: 200px; margin: auto;" src="{{ project.snapshot.url }}">
            {% else %}
              <img class="card-img-top" src="https://www.elmhurst.edu/wp-content/uploads/2018/12/5-skills-project-management-degree-elmhurst-college-infographic-thumb.jpg" >
            {% endif %}
            <hr>
            <div class="card-body">
              <h5 class="card-title">{{ project.project_title }}</h5>
              <p class="card-text">Description: {{project.description}} </p>
              <p class="card-text">Type: {{ project.project_type }} </p>
              {% if project.url == '' %}
                 
             {% else %}
                <p class="card-text">Url: {{project.url}} </p>
                 
             {% endif %}
             <p class="card-text">Status: {{project.status}}</p>
             <p class="card-text">Overall Rating:
                 {% if number_of_rate == -1 %}
                  No Ratings Yet
                 {% else %}
                     {{ number_of_rate }}/5
                 {% endif %}
             </p>
              <p class="text-muted">{{ project.publish_date }} <br> By: {{ project.owner.name }}</p>
        
              {% if project.owner.username == user.username %}
                <a class="btn btn-primary " style="float:left; width:50%; " href="{% url 'update_project' project.id %}"> Edit</a>
                <a class="btn btn-primary " style="float:left; width:50%; " href="{% url 'delete_project' project.id %}"> Delete</a>
                
            </div>
              {% else %}
              <form style="float:right" action="{% url 'flag_name' project.id %}" method="POST">
                {% csrf_token %}
    
                {% if post_is_flagged %}
                <button type="submit" name="flag_id" value="{{project.id}}"> <img alt="Unflag!" style="width:45px" src="{% static 'flags/flagged.png' %}" /> </button>
                {% else %}
                <button type="submit" name="flag_id" value="{{project.id}}" > <img alt="Flag!" style="width:45px" src="{% static 'flags/flag.png' %}" /></button>
                {% endif %}
            </form>
            <p style="float:left" class="text">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</p>
        {% if user.is_authenticated %}
            <form  style="float:left" action="{% url 'like_name' project.id %}" method="POST">
                {% csrf_token %}
    
                {% if post_is_liked %}
                <button type="submit" name="like_id"  value="{{project.id}}">
                    <img alt="UNLIKE" style="width:25px" src="{% static 'likes/liked.png' %}" />
                </button>
                {% else %}
                <button type="submit" name="like_id" value="{{project.id}}"><img alt="LIKE!" style="width:25px" src="{% static 'likes/like.png' %}" /></button>
                {% endif %}
         {% endif %}
            </form>
              </div>
                 {% endif %}
                 
          <hr>
          <h3>Comments:</h3>
          {% if comments|length == 0 %}
          <p> <b> Write the Very first Comment On This Project! </b> </p>
          {% endif %}
          {% for com in comments %}
          <div id="comment-single">
              <h3 class="text">{{com.title}}</h3> 
              <p class="text">{{com.comment}}</p>
              <p  class="text">Rate:
                  {% if com.rate == 5 %}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
      
                  {% endif%}
                  {% if com.rate == 4 %}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star "></span>
      
                  {% endif%}
                  {% if com.rate == 3 %}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
      
                  {% endif%}
                  {% if com.rate == 2 %}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
      
                  {% endif%}
      
                  {% if com.rate == 1 %}
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
      
                  {% endif%}
                  {% if com.rate == 0 %}
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
      
                  {% endif%}
      
              </p>
              <p class="small-text">From: {{com.user.name}}  on {{ com.create_date}}</p>
          </div>
          {% endfor %}
    </div>



<div style="margins: auto; width:90%;  id="comment-section">


    
 
</div>
{% endblock content %}


