{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-all-projects">

  {% if object_list|length == 0 %}
  <a href="{% url 'create_project' %}" class="btn btn-primary stretched-link">Create your first project</a>
  {% endif %}

  {% for item in object_list %}

  <div class="card" style="width:85%; ">


    {% if item.project.snapshot %}
      <img class="card-img-top" src="{{ item.project.snapshot.url }}">
    {% else %}
      <img class="card-img-top" src="https://www.elmhurst.edu/wp-content/uploads/2018/12/5-skills-project-management-degree-elmhurst-college-infographic-thumb.jpg" >
    {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ item.project_title }}</h5>

      <p class="card-text">Type: {{ item.project_type }} </p>
      <p class="card-text">Keywords: {{ item.keyword_list }} </p>
      <p class="text-muted">{{ item.publish_date }} <br> By: {{ item.owner.name }}</p>

      {% if item.owner.username == user.username %}
        <a class="btn btn-primary stretched-link" style="float:left; width:33%; " href="{% url 'update_project' item.id %}"> Edit</a>
        <a class="btn btn-primary stretched-link" style="float:left; width:33%; " href="{% url 'delete_project' item.id %}"> Delete</a>
        <a href="{{ item.id }}" style="float:left; width:33%;" class="btn btn-primary stretched-link">Details</a>
      </div>
      {% else %}
      </div>
        <a href="{{ item.id }}" class="btn btn-primary stretched-link">Details</a>
      {% endif %}
  </div>
  {% endfor %}
</div>


{% if is_paginated  %}
  <section id="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    {% else %}
      <span>&laquo;</span>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <span>{{ i }} (current)</span></span>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    {% else %}
      <span>&raquo;</span>
    {% endif %}
  </section>
{% endif %}

{% endblock content %}
